<nav class="navbar navbar-default navbar-fixed-top">

    <a class="navbar-brand navbar-left" href="#!">
        <img class="ab-home-navbar-logo"
             src="http://bhavsar-alark-booklub.herokuapp.com/project/logos/bK-medium-208px.png">
    </a>

    <div ng-show="model.user">
        <a href="#!/booKlub/new">
            <span class="pull-right glyphicon glyphicon-plus ab-logo-color btn-lg"></span>
        </a>
    </div>

</nav>

<div class="container-fluid">

    <h2 class="ab-text">booKlub List</h2>

    <div ng-show="model.confMessage" class="alert alert-success">
        {{model.confMessage}}
    </div>

    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>


    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-6">Title</div>
                <div ng-show="model.user">
                    <div class="col-xs-6 ab-text-align-right">Follow?</div>
                </div>
            </div>
        </li>

        <li ng-repeat="booKlub in model.booKlubs" class="list-group-item ab-admin-center-lists">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#!/booKlub/{{booKlub._id}}/edit">
                        {{booKlub.title}}
                    </a>
                </div>

                <div ng-if="model.user">
                    <div class="col-xs-6 ab-text-align-right">
                        <a ng-show="!model.userFollowsBooKlub(booKlub)" ng-click="model.followBooKlub(booKlub)">
                            <button type="button" class="btn navbar-btn btn-primary">Follow</button>
                        </a>
                        <a ng-show="model.userFollowsBooKlub(booKlub)" ng-click="model.unFollowBooKlub(booKlub._id)">
                            <button type="button" class="btn navbar-btn btn-danger">Unfollow</button>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <a href="#!/profile">
        <span class="pull-right glyphicon glyphicon-user ab-logo-color btn-lg"></span>
    </a>

</nav>