<nav class="navbar navbar-default navbar-fixed-top">

    <a href="#!/booKlub">
        <span class="pull-left glyphicon glyphicon-chevron-left ab-logo-color btn-lg"></span>
    </a>

    <div ng-show="model.user">
        <a ng-click="model.createPost(post)">
            <span class="pull-right glyphicon glyphicon-ok ab-logo-color btn-lg"></span>
        </a>
    </div>

    <div ng-show="!model.user">
        <a href="#!/login">
            <button type="button" class="ab-home-navbar-buttons pull-right btn navbar-btn btn-success">
                Login to Contribute!
            </button>
        </a>
    </div>
</nav>

<div class="container-fluid ab-container well ab-well-booKlub-heading">
    <h1 class="ab-text">{{model.booKlub.title}}</h1>
    <h4 class="ab-text">{{model.booKlub.description}}</h4>

    <div ng-show="model.errorMessage" class="ab-margin-bottom-spacing alert pulse alert-danger">
        {{model.errorMessage}}
    </div>

    <div ng-show="model.confMessage" class="ab-margin-bottom-spacing alert pulse alert-success">
        {{model.confMessage}}
    </div>
</div>

<div class="container-fluid ab-container well ab-carousel-well-search" ng-show="model.user">
    <label class="ab-text" for="postTitle">Title</label>
    <input name="postTitle"
           class="form-control"
           ng-model="post.title"
           placeholder="Post Title"
           id="postTitle"/>

    <div class="ab-margin-bottom-spacing"
         ng-model="post.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>
</div>


<div class="container-fluid ab-container ab-well-post well" ng-repeat="post in model.posts">

    <h2 class="ab-text">
        {{post.title}}
        <a ng-if="model.userID == post._user._id || model.user.isAdmin" ng-click="model.deletePost(post._id)">
            <span class="pull-right glyphicon glyphicon-remove ab-logo-color btn"></span>
        </a>
        <a ng-if="model.userID == post._user._id" href="#!/booKlub/blog/{{model.booKlubID}}/post/edit/{{post._id}}">
            <span class="pull-right glyphicon glyphicon-pencil ab-logo-color btn"></span>
        </a>
    </h2>

    <h6 class="ab-text">OP <a class="ab-text" href="#!/user/{{post._user._id}}">@{{post._user.username}}</a> : {{post.dateCreated | date : "short"}} says...</h6>
    <div class="ab-text" ng-bind-html="model.trustHtmlContent(post.text)"></div>

    <div class="ab-well-comment well ab-text animated fadeInUp" ng-repeat="comment in post.comments">

            <a class="ab-text" href="#!/user/{{comment._user}}">@{{comment.username}}</a> : {{comment.dateCreated | date : "short"}} replied...
            {{comment.text}}

            <a ng-if="model.userID == post._user._id || model.user.isAdmin" ng-click="model.deleteComment(comment._id)">
                <span class="pull-right ab-glyphicons  glyphicon glyphicon-remove ab-logo-color"></span>
            </a>

    </div>

    <div class="input-group ab-btn-container" ng-if="model.user">
        <input type="text"
               ng-model="commentReply.text"
               class="form-control"
               placeholder="@{{model.user.username}} replies...">
        <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="model.createComment(commentReply, post._id)">
                    Comment
                </button>
            </span>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <a href="#!/profile">
        <span class="pull-right glyphicon glyphicon-user ab-logo-color btn-lg"></span>
    </a>

</nav>

