<nav class="navbar navbar-default navbar-fixed-top">

    <a class="navbar-brand navbar-left" href="#!">
        <img class="ab-home-navbar-logo"
             src="/project/logos/bK-medium-208px.png">
    </a>

    <a href="#!/booKlub" class="pull-right ab-home-navbar-buttons">
        <button type="button" class="btn navbar-btn btn-warning">booKlubs</button>
    </a>

    <div ng-show="!model.user" class="pull-right ab-home-navbar-buttons">
        <a href="#!/register">
            <button type="button" class="btn navbar-btn btn-primary">Register</button>
        </a>
        <a href="#!/login">
            <button type="button" class="btn navbar-btn btn-success">Sign in</button>
        </a>
    </div>

    <div ng-show="model.user" class="pull-right ab-home-navbar-buttons">
        <a href="#!/profile">
            <button type="button" class="btn navbar-btn btn-primary">Profile</button>
        </a>
    </div>

</nav>


<div class="container-fluid">

    <div class="ab-search">

        <a href="#!/booKlub">
            <img src="/project/logos/booKlub-large-hd.png" width="100%">
        </a>

        <!--<input placeholder="The Sun Also Rises"-->
        <!--ng-model="model.searchQuery"-->
        <!--class="form-control"/>-->
        <!--<button ng-click="model.searchBookByTitle(model.searchQuery)" class="btn btn-primary btn-block">-->
        <!--Search By Title-->
        <!--</button>-->
        <!--<button ng-click="model.searchBookByAuthor(model.searchQuery)" class="btn btn-primary btn-block">-->
        <!--Search By Author-->
        <!--</button>-->

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Books" ng-model="model.searchQuery">
            <div class="input-group-btn">
                <button type="button"
                        class="btn ab-logo-color dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">By <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a ng-click="model.searchBookByTitle(model.searchQuery)">Title</a></li>
                    <li><a ng-click="model.searchBookByAuthor(model.searchQuery)">Author</a></li>
                </ul>
            </div>
        </div>

        <div ng-show="model.errorMessage" class="alert pulse alert-danger pulse">
            {{model.errorMessage}}
        </div>

        <div ng-if="!model.books" class="well tab-content ab-carousel-well-search">
            <h2 class="ab-text-search">Popular Books</h2>
            <div class="slick-carousel-search">
                <div class="ab-carousel-div" ng-repeat="book in model.allBooks">
                    <a href="#!/details/{{book.volumeID}}">
                        <img class="ab-carousel-img" ng-src="{{book.imgUrl}}">
                        {{book.title}}
                    </a>
                </div>
            </div>
        </div>


        <div ng-if="model.books" class="well tab-content ab-carousel-well-search">
            <h2 class="ab-text-search">Search Results for "{{model.searchResultDisplayText}}"...</h2>
            <ul class="list-group">
                <li ng-repeat="book in model.books" class="list-group-item media">
                    <div class="row">
                        <div class="col-sm-8 ab-margin-bottom-spacing">
                            <a class="ab-home-links" href="#!/details/{{book.id}}">
                                {{book.volumeInfo.title}}
                            </a>
                        </div>

                        <div class="col-sm-4">
                            <a href="#!/details/{{book.id}}">
                                <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" sizes="50%"/>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="../../../../vendor/slick-carousel/ab-js/ab-carousel-search.js"></script>

